*{
    box-sizing: border-box ;
}
.header{
    width: 100% ;
    height: 700px;
    background-image: url(wp3375820.jpg);
}
.topbar{
    width : 100% ;
    padding: 20px;
    position: fixed;
    top:0px;
    transition: .5s ;
}
.screen{
    width : 100%;
    position: fixed ;
    top:0px;
    transition: .5s ;
    height: 700px;
    text-align: center ;
    padding : 500px;
    font-size: 20px;
    color : White ;
}
.navbar {
    width :100%;
    padding: 20px;
    position: fixed ;
    top: 0px ;
    transition : .5s;
    text-align: right;
}
.navbar ul li{
    list-style-type:none ;
    display: inline-block;
    padding: 10px 20px;
    color: white ;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.navbar ul li:hover{
    background: orange;
}
a {
    color: white;
    text-decoration: unset;
}