*{
    box-sizing: border-box ;
}
.header{
    width: 100% ;
    height: 700px;
    background-image: url(wallelephant.jpg);
}
.topbar{
    width : 100% ;
    padding: 20px;
    position: fixed;
    top:0px;
    transition: .5s ;
    color: aliceblue;
    font-size: 24px;
}
.screen{
    width : 100%;
    position: fixed ;
    top:0px;
    transition: .5s ;
    height: 700px;
    text-align: center ;
    padding : 500px;
    font-size: 20px;
    color : White ;
}
.navbar {
    width :100%;
    padding: 20px;
    position: fixed ;
    top: 0px ;
    transition : .5s;
    text-align: right;
}
.navbar ul li{
    list-style-type:none ;
    display: inline-block;
    padding: 10px 20px;
    color: white ;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.navbar ul li:hover{
    background: #C3CC76;
}
a {
    color:#473a4f;
    text-decoration: unset;
}
/*ADDING Text Modification */
body 
{
    background-color: #C3CC76;
}
h1{
    font-family: Candara; 
    text-align: center ;
    border: 2px solid white;
    border-radius: 5px 2px ;
    font-size: 30px ;
    text-decoration: bold ;
    display: inline-block;
    width: 100% ;
}
p{
    font-size: 1.1em;
    font-family: Zapf-Chancery,Cursive ; 
    text-align: justify;
}
.text{
    font-size: 1.1em;
    font-family: Zapf-Chancery,Cursive ;
}
h3
{
    border-top: 2px solid #BDBFA4;
    border-bottom: 2px solid #BDBFA4; 
    text-align: center   ;
    font-family: Candara;
    padding: 5px ;
}
.side_info
{
    float:right ;
    width:16%;
    padding: 10px 0px; 
}
.side_info_left
{
    float:left ;
    width:84% ;
    padding: 10px 20px;
}
.side_info img{
    padding: 30px 10px;
    width: 100% ;
    height: 10% ;
}
